.container {
	display: flex;
	height: 100vh;
	background-color: #333;
}

textarea {
	width: 50vw;
	margin: 10px;
	padding: 0;
	border-radius: 2px;
	outline: none;
	font-size: 24px;
	font-family: sans-serif;
}

iframe {
	width: 50vw;
	margin: 10px;
	padding: 0;
	border: none;
	border-radius: 2px;
	background-color: #fff;
}